@{ 
    Layout = null;
}

<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>@ViewBag.Title</title>
    </head>
    <body>
       <h4>@ViewBag.CafeName</h4>
        <div>
            <h3>Menu</h3>
            @Html.ActionLink("Drinks", "DrinkForm")
        </div>
        <form action="/Film/GetInfo" method="get">
            <input type="text" name="name" />
            <input type="text" name="age" />
            <input type="submit" value="ok" />
        </form>
    </body>
</html>

